.header{
    background-color: var(--secondary-color);
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;

}

.image{
    mix-blend-mode: multiply;
}

.buttons button{
    height: 5rem;
    width: 5rem;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor:pointer;
    margin: 0 1rem;
}