.table-container {
    text-align: center;
    margin: 1rem;
  }
  
  .broker-table {
    border-collapse: collapse;
    margin: auto; 
  }
  
  .broker-table th, .broker-table td {
    border: 1px solid #ddd; 
    padding: 8px;
  }
  
  .broker-table th {
    background-color: #f2f2f2;
  }
  
  .broker-table td {
    background-color: #fff; 
  }
  
  .heading {
    background-color: #ddd; 
  }
  